.buy {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: 0.1rem solid #333;
  border-radius: 0.1rem;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
}

.buy:hover {
opacity: 1;
}