.buy {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #e67e22;
  color: #e67e22;
  border-radius: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
  position: relative;
}

.buy:hover {
opacity: 0.8;
}

.loading_wrapper {
  border: 1px solid #33333380;
  color: transparent;
}

.loading {
  background-size: contain;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #00000010;
  background-repeat: no-repeat;
}

.error {
  color: #ff0000ee;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-150%);
}