.buy {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid #e67e22;
  color: #e67e22;
  border-radius: 0.1rem;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
}

.buy:hover {
opacity: 0.8;
}