.title {
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-weight: normal;
  position: relative;
}
.title::after, .title::before {
  content: '';
  display: block;
  width: 5rem;
  height: 0.1rem;
  background-color: #e67e22;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-200%) translateY(-50%);
}
.title::after {
  transform: translateX(100%) translateY(-50%);
}

.button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: 0.1rem solid #333;
  border-radius: 0.1rem;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  margin: 1rem 0;
}
.button:hover {
  opacity: 1;
}

.wrapper {
  max-width: 60rem;
  margin: 0 auto;
}

.payment_options {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  margin: 1rem auto;
  max-width: 40rem;
  position: relative;
}

.error {
  color: #ff0000ee;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-150%);
}

@media only screen and (max-width: 600px) {
  .payment_options {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {

}