.footer {
  margin-top: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #f4f4f4;
  background-color: #333;
}

.logo {
  height: 2rem;
  transform: translateY(0.1rem);
}

.footer span {
  margin: 0 1rem;
}

@media only screen and (max-width: 600px) {
  .footer{ 
   margin-top: 2rem;
  }
}
