.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #f4f4f4;
  background-color: #333;
}

.logo {
  height: 2rem;
  transform: translateY(0.1rem);
}
