/* .wrapper {
  width: 50%;
} */
.table_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.pagination {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.pagination span{
  margin-left: 1rem;
}
.pagination div:last-of-type{
  margin-left: auto;
}

@media only screen and (max-width: 600px) {
  .table {
    font-size: 12px;
  }
}

@media only screen and (max-width: 400px) {
  .table {
    font-size: 10px;
  }
}