.paypal {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background: #ffc439;
  border: 0.1rem solid transparent;
  border-radius: 0.1rem;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 1;
}
.paypal svg{
  margin: 0rem 0.2rem;
}

.paypal:hover {
  background-image: linear-gradient(#00000011, #00000011), linear-gradient(#ffc439, #ffc439);
}
