.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 0 5rem;
  margin-top: 4rem;
}

.product_img_wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.product_img_wrapper img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  transition: transform .1s cubic-bezier(.25,.46,.45,.94);
  /* transition: transform .05s ease; */
  cursor: zoom-in;
}

.product_title {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: solid #e67e22 0.2rem;
  width: max-content;
  padding-bottom: 0.5rem;
}

.product_price {
  font-size: 1.5rem;
  margin: 2rem 0;
  margin-top: 2.5rem;
  letter-spacing: 1px;

}

.product_description {
}

.button {
  width: 100%;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  letter-spacing: 1px;
  background-color: transparent;
  border: 0.1rem solid #333;
  border-radius: 0.1rem;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.8;
  margin-top: 2.5rem;
}
.button:hover {
  opacity: 1;
}
.button.loading {
  background-color: #ffffff;
  background-image: url('/spinner.gif');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
}
.button.oos {
  opacity: 1;
  cursor: no-drop;
}

.payment_options {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
}

@media only screen and (max-width: 940px) {
  .payment_options {
  grid-template-columns: 1fr;
  }
  .wrapper {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper {
    margin-top: 2rem;
  }
}